body {
    font-family: 'Arial', 'David', sans-serif;
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    width: 80%;
}

.product {
    border: 1px solid #ddd; 
    border-radius: 10px; 
    background-color: #ffffff; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    transition: transform 0.3s ease;
    text-align: right; 
    overflow: hidden; 
    width: 250px;
    height: 280px;
    overflow: hidden; 
}
.product:hover {
    transform: translateY(-5px); 
}

.product img {
    width: 80%; 
    height: auto; 
    border-radius: 5px; 
    margin-bottom: 10px; 
    object-fit: cover; 
}

.product h2 {
    font-size: 1.1em; 
    margin: 8px 0; 
    color: #333; 
}

.product p {
    font-size: 1.2em;
    color: #e67e22; 
    margin: 0; 
    font-weight: bold; 
}

.price-container{
    display: flex;
    justify-content: space-between; /* מסדר את המחיר והכפתור בשורה */
    align-items: center; /* מסדר את האלמנטים במרכז אנכית */
}

.add-to-cart {
    background-color: #e67e22; /* צבע הכפתור */
    color: white; /* צבע טקסט */
    border: none; /* ללא גבולות */
    border-radius: 5px; /* עיגול פינות */
    padding: 5px 10px; /* ריווח פנימי */
    cursor: pointer; /* מצביע עכבר */
    transition: background-color 0.3s; /* אפקט מעבר */
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 15%;
    border-left: 1px solid gainsboro;
}

.sidebar-item {
    padding: 2rem;
}

.sidebar-item:hover {
    background-color: aliceblue;
}

#topper {
    display: flex;
    flex-direction: column;
}

#topper-image {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}

#title {
    font-weight: bolder;
    size: 20px;
}